@import url("http://font.googleapis.com/css2?family=Bebas+Neue&display=swap");

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 200px;
  font-weight: 900;
  
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  cursor: pointer;
  color: rgb(24, 24, 24);
  position: relative;
}

p:hover {
  text-shadow: 4px 3px 0px #ffffff, -5px -4px 20px #f21ee4,
    -8px 10px 20px #0935f8;
}
